/* Work Sans fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
  }


/* nav container */

.common-title{
    font-size:2.812rem;
    
}

.nav-container, ul, li, a{
    list-style: none;
    text-decoration: none; 
    color: black; 
}
.nav-container{
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.nav-content{
    display: flex;
    gap: 20px;
}
/* btn container */
.btn-container{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
/* Dark 1 */
.title{
    font-size: 45px;
    font-weight: bold;
    color:rgba(19, 19, 19, 1);
}
/* Dark 2 */
.sub-title{
    color: rgba(66, 66, 66, 1);
}
/* Dark 3 */
.title-description{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;

    margin-bottom: 0px;
}
.titles{
    font-size: 45px;
    font-weight: bold;
    color: rgba(114, 114, 114, 1);
}
.title-descriptions{
    color: rgba(114, 114, 114, 1);
    font-size: 20px;

}

/* text-title */
.text-title{
    color: rgba(255, 144, 14, 1);
}

/* hero section */
.hero-section{
    max-width: 53.125rem;
    margin: 0 auto;
    text-align: center;
}

.hero-section img{
    width: 100%;
    margin-top:4.25rem;
    margin-bottom: 20px;
}
.hero-title{
   font-size: 4rem;
}
.baner-container{
margin: 0 auto;
}

.nav .hero-section{
    background-color: rgba(255, 144, 14, 0.1);
}

/*Quick list of Our Features*/
.mains{
    max-width:90rem;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);   
}
/* main{
    max-width:90rem;
    margin: 0 auto; 

} */
.container{
    display: flex;
}
main > section {
    margin-top: 8.125rem;
}
.quick-container img{
    width: 100%;
}
.quick-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15rem;
    gap: 20px;
}

.quick-content{
    align-items: center;
    align-content: center;
    margin-left: 3.125rem;
    max-width: 33.125rem;
}
/* Features you will love & enjoy */
/* .feature-img{
max-width: 50%;
} */

.feature-container{
    display: flex;
    margin: 0 auto;
    margin: 130px 80px 130px 80px;
}
.feature-property{
    max-width:1440px;
    margin: 0 auto; 
}
.title-ftr{
    font-size: 45px;
    font-weight: bold;
    /* width: 0px; */
    color:rgba(19, 19, 19, 1);
    margin-top: 0px;
    /* padding-right: .75rem; */
    /* padding-left: 10rem; */
}
.description-ftr{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    /* padding-right: 10.75rem; */
    padding-left: 2rem;
}
#featurec-bar{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.feature-card{
    padding: 1.875rem;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    border-radius: 8px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
}
.feature-card.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    color: rgba(19, 19, 19, 1);

}
.feature-title{
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Some facts  */
.facts{
    margin: auto 12.5rem;

}
.facts-title{
    max-width: 33.125rem;
    margin-top: 6.25rem;

}
.facts-content{
    background-color:rgba(243, 243, 243, 1);
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 15rem;
    height: 15rem;
    text-align: center;
    align-content: center;
  
}
.facts-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
    margin-top: 3.125rem;
    margin-bottom: 11.25rem;
}
.number{
    font-size: 2.8rem;
    font-weight: 37.5rem;
    color: rgba(66, 66, 66, 1);
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Our Sponspors */
.Sponsors{
    margin: 11.25rem 15rem;
}
.Sponsors-info{
    max-width: 33.75rem;
    margin: 3.125rem auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    gap: 3rem;
}

/* description */
.description{
    max-width: 620px;
    background-color: aqua;
    /* align-items: center;
    justify-content: center;
    justify-items: center; */
    /* background-color: rgba(255, 244, 231, 1); */
}
.description-info{
    max-width: 620px;
    text-align: center;
}
/* responsive media query */

@media screen and (max-width:576px) {
    .nav-container, 
    .nav-content,
    .container{
        flex-direction: column;
    }

    .quick-container {
        grid-template-columns:1fr;
        margin: 3.125rem;
        align-items: center;

    }

    .facts-container,
    .sponsors-companies{
        grid-template-columns:1fr;
        margin-left: -6.25rem;
    }

    .facts-title{
        flex-direction: column-reverse;
        align-items: center;
        margin-left: -8.25rem;
        text-align: center;
        width: 18.75rem;

    }

      .facts-title,.Sponsors-info{
        flex-direction: column-reverse;
        align-items: center;
        margin-left: -10rem;
        text-align: center;
        width: 18.75rem;
    }

}

/* Medium size device */

@media screen and (min-width:576px) and (max-width:992px){

    
    .quick-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;

    }
    
    .container{
        flex-direction: column-reverse;
        align-items: center;

    }
    

    .btn{
        margin-left:9.375rem;
    }

    .facts-container,.sponsors-companies{
        grid-template-columns: repeat(2, 1fr);
        margin: -3.125rem;
        margin-top: 3.125rem;
        justify-content: center;

    }

      .facts-title{
        margin-left: -8.125rem;
        text-align: center;
      }




}