/* Work Sans fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
  }


/* nav container */

.common-title{
    font-size:2.812rem;
    
}

.nav-container, ul, li, a{
    list-style: none;
    text-decoration: none; 
    color: black; 
}
.nav-container{
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.nav-content{
    display: flex;
    gap: 20px;
}
/* btn container */
.btn-container{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
/* Dark 1 */
.title{
    font-size: 45px;
    font-weight: bold;
    color:rgba(19, 19, 19, 1);
}
/* Dark 2 */
.sub-title{
    color: rgba(66, 66, 66, 1);
}
/* Dark 3 */
.title-description{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
}
.titles{
    font-size: 45px;
    font-weight: bold;
    color: rgba(114, 114, 114, 1);
}
.title-descriptions{
    color: rgba(114, 114, 114, 1);
    font-size: 20px;
}

/* text-title */
.text-title{
    color: rgba(255, 144, 14, 1);
}

/* hero section */
.hero-section{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.hero-section img{
    width: 100%;
    margin-top:68px;
    margin-bottom: 20px;
}
.hero-title{
   font-size: 64px;
}
.baner-container{
margin: 0 auto;
}

.nav .hero-section{
    background-color: rgba(255, 144, 14, 0.1);
}

/*Quick list of Our Features*/
.mains{
    max-width:1440px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);   
}
main{
    max-width:1440px;
    margin: 0 auto;   
}
.container{
    display: flex;
}
main > section{
    margin-top: 130px;
}
.quick-container img{
    width: 100%;
}
.quick-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 240px;
    gap: 20px;
}

.quick-content{
    align-items: center;
    align-content: center;
    margin-left: 50px;
    max-width: 530px;
}
/* Features you will love & enjoy */
.featurec{
    background-image: url("./images/architect.png");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}


/* Some facts  */
.facts{
    margin: auto 200px;

}
.facts-title{
    max-width: 530px;
    margin-top: 100px;

}
.facts-content{
    background-color:rgba(243, 243, 243, 1);
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    align-content: center;
  
}
.facts-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 180px;
}
.number{
    font-size:2.8rem;
    font-weight: 600px;
    color: rgba(66, 66, 66, 1);
    margin-top: 5px;
    margin-bottom: 10px;
}

/* responsive media query */

@media screen and (max-width:576px) {
    .nav-container, 
    .nav-content,
    .container{
        flex-direction: column;
    }

    .quick-container {
        grid-template-columns:1fr;
        margin: 50px;

    }

    .facts-container{
        grid-template-columns:1fr;
        margin-left: -100px;
    }

    .facts-title{
        flex-direction: column-reverse;
        align-items: center;
        margin-left: -130px;
        text-align: center;
        width: 300px;


    }


}

/* Medium size device */

@media screen and (min-width:576px) and (max-width:992px){

    
    .quick-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;

    }
    
    .container{
        flex-direction: column-reverse;
        align-items: center;

    }
    
    .title{
        width: 800px;

    }

    .btn{
        margin-left:150px;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 50px;

    }

      .facts-title{
        margin-left: 130px;
      }



}